* {
  border: 0;
  padding: 0;
  margin: 0;
}

div
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: monospace;
    width: 100%;
    height: 100vh;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.txt-type > .txt
{
    border-right: 0.2rem solid #777;
}

.text-block 
{
  display: flex;
  flex-flow: row nowrap;
}

.text-block__item 
{
  padding: 0 100px;
  width: 60%;
  height: 30%;
}

h2
{
    font-size: 60px;
    background: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}

div:nth-child(1)
{
    background-image: url(img/684024.jpg);
    background-size: cover;
}

div:nth-child(2)
{
  background-color: rgb(138, 121, 105);
}

div:nth-child(3)
{
    height: 400px;
    background-image: url(img/684031.png);
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(4)
{
    background-image: url(img/2768815923.jpg);
   background-size: cover;
}

div:nth-child(5)
{
  height: 700px;
  background-color: rgb(116, 150, 147);
  background-size: auto;
}

div:nth-child(6)
{
    background-image: url(img/network_generic_image-100066598-orig.jpg);
   background-size: cover;
}